.header {
  background-color: $black;
}

.header__content {
  display: flex;
  flex-direction: column;
}

.header__content-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.header-logo {
  display: flex;
  position: relative;
}

.header-logo__logo {
  display: block;
  max-width: 100%;
}

.logo-block:first-child:after {
  content: '';
  width: 1px;
  height: 22px;
  background-color: $white;
  position: absolute;
  bottom: 8px;
  right: -16px;
}

.logo-block:first-child {
  margin-right: 16px;
  position: relative;
}

.logo-block:last-child {
  margin-left: 16px;
}

.header__phone {
  display: flex;
  align-items: center;
}

.header__phone-img {
  display: block;
  max-width: 100%;
  margin-right: 10px;
}

.header__phone-phone {
  color: $white;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;

  &:hover {
    color: $cyan-highlight;
    transition: 0.3s;
  }
}

.header__address {
  display: flex;
  align-items: center;
}

.header__address-img {
  display: block;
  max-width: 100%;
  margin-right: 10px;
}

.header__address-text {
  color: $white;
  font-size: 13px;
  font-weight: 400;
}

.header__content-bottom {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 13px;
}

.nav-list__link {
  color: $white;
  font-size: 10.656px;
  font-weight: 500;
  text-decoration: none;

  &:hover {
    color: $cyan-highlight;
    transition: 0.3s;
  }
}

.burger {
  display: none;
  padding: 5px;
  background-color: $cyan;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: $cyan-highlight;
    transition: 0.3s;
  }
}

.nav-list__mobile {
  display: none;
  flex-direction: column;
  align-items: center;
}

.nav-list__mobile_visible {
  display: flex;
}
