.timer {
  background-color: $gray;
  padding: 35px 0;
}

.timer__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.timer__content-left {
  position: relative;
  width: 50%;
}

.message-vidget {
  position: absolute;
  left: -101px;
  bottom: -25px;
  cursor: pointer;
  animation: pulse 2s infinite;
  border-radius: 100%;
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.25);
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}

.timer__section-title {
  color: $black;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

.timer__content-right {
  width: 50%;
}

.timer__button {
  max-width: 467px;
  margin-left: auto;
}

.timer-block__mobile {
  display: none;
}
